/* main styles */
body {
    margin:0;
    padding:0;
    background:#5663A2;
    color:#4C4C50;
    font-family: "Helvetica", Arial, sans-serif;
    font-size:11px;
}

body.login {
    background-color: #5663A2;
    display: flex;
    height: 100vh;
}

.login .logo {
    margin: auto;
    display: block;
}

.login .button_submit {
    padding: 5px 15px 5px 15px;
    display: block;
    background-color: #5663A2;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 15px;
}

.login_content {
    font-family: "Helvetica", Arial, sans-serif;
    border:1px solid #ECECEC; 
    width:300px; 
    margin:auto; 
    padding:10px; 
    background-color:white;
}

form {
    margin:0;
    padding:0
}
img {border:none;}
a {color:#fff;text-decoration: none}
a:hover {text-decoration: underline}
input {vertical-align:middle}
.floatleft {float:left !important}
.floatright {float:right !important}
.clear {clear:both !important}
.bold {font-weight:bold !important}
.normal {font-weight:normal !important}
.block {display:block !important}
input.text,
select,
textarea {
    font-family: "Helvetica", Arial, sans-serif;
    color:#333;
    font-size:12px;
    vertical-align:middle;
}
input.text {
    padding:1px 0 0 4px;
    height:14px;
    font-weight:normal;
}
/* main container */
#main {
    width:80%;
    margin:0 auto;
}
/* header */
#header {
    position: relative;
    width: 100%;
    height: 110px;
    background-color: #4C4C50;
}
/* site logo */
a.logo {
    display: block;
    float: left;
    width: 150px;
    text-align: center;
    margin: 15px 0 0 0;
}

/* header tabs */
#top-navigation {
    margin: 0;
    padding: 40px;
    list-style: none;
}
#top-navigation li {
    float: left;
    margin: 0 3px 0 0;
    background-color: #6F6F6F;
    border-radius: 5px;
}
#top-navigation li a {
    float: left;
    display: block;
    height: 20px;
    color: #fff;
    font-weight: bold;
}
#top-navigation li span {
    float:left;
}
#top-navigation li span span {
    padding:7px 10px 0 10px;
}
#top-navigation li.active {
    background-color: #363636;
}

/* middle */
#middle {
    float:left;
    width:100%;
    background-color: #fff;
}
/* left column */
#left-column {
    float: left;
    width: 150px;
}
/* right column */
#right-column {
    float:right;
    padding:0 9px 0 0;
    width:133px;
}
/* center column */
#center-column {
    float: left;
    width: calc(100% - 150px);
    min-height: 584px;
}	
* html #center-column {height:584px;}

/* footer */
#footer {
    float:left;
    width:100%;
    height:15px;
    background-color: #fff;
}

/* left column styles */
#left-column a {color:#3E3E3E;}
#left-column h3 {
    font-size: 11px;
    margin: 0;
    color: #fff;
    background: #363636;
    height: 25px;
    line-height: 23px;
    padding: 0 0 0 10px;
}
ul.nav {
    margin: 0;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    list-style: none;
    padding: 0;
}
ul.nav li {
    padding: 10px;
}
ul.nav a {
    padding:0 0 0 12px;
    background:url(../img/arrow.gif) no-repeat 0 4px;
}
ul.nav a:hover {
    font-weight:bold;
}
ul.nav li.last {background:none;}

#left-column .link {
    display:block;
    width:142px;
    height:25px;
    background:url(../img/bg-left-link.gif);
    margin:0 0 4px 0;
    font-weight:bold;
    padding:0 0 0 9px;
    line-height:25px;
    color:#60635A;
}

/* center column styles */
.top-bar {
    float: left;
    width: 100%;
    height: 25px;
    background-color: #ECECEC;
}
/* text page header */
.top-bar h1 {
    font: 20px/21px verdana,sans-serif;
    color: #4C4C50;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin: 0;
}
/* orange button */
.top-bar a.button {
    float:right;
    display:block;
    width:75px;
    height:35px;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    font-weight:bold;
    line-height:27px;
    background:url(../img/bg-orange-button.gif) no-repeat;
}

/* bar with select */
.select-bar {
    clear:both;
    border-top:2px solid #f70;
    border-bottom:2px solid #f70;
    padding:5px 0 3px 0;
    margin:0 0 17px 0;
}
.select-bar select {width:145px;margin:0 2px;}

/* table container */
div.table {
    float: left;
    position: relative;
    width: 100%;
}
table.listing {
    border-bottom:1px solid #9097A9;
    width:613px;
    padding:0;
    margin:0;
    border:1px solid #9097A9;
}
table.listing th {
    border-top:0 !important;
}
table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
div.table img.left {
    position:absolute;
    top:0;
    left:0;
}
div.table img.right {
    position:absolute;
    top:0;
    right:1px;
}
/* table styles */
table.listing td,
table.listing th {
    border:1px solid #fff;
    text-align:center;
}	
table.listing th {
    background:#9097A9;
    color:#fff;
    padding:5px;
}
table.listing td {
    background:#D8D8D8;
    color:#000;
    padding:3px 5px;
}
table.listing .bg td {
    background:#ECECEC;
}
table.listing .white td {
    background:#fff;
}	
table.listing .first {border-left:0px solid #9097A9;text-align:left;}
table.listing .last {border-right:0px solid #9097A9;}

table.listing th.first {background:#9097A9 url(../img/bg-th-left.gif) no-repeat left top;border-left:0;}
table.listing th.last {background:#9097A9 url(../img/bg-th-right.gif) no-repeat right top;border-right:0;}

table.listing .style1 {font-weight:bold;color:#FF7A00;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form .last {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select */
div.table .select {
    float:right;
    margin:2px 1px 0 0;
    width:176px;
    height:25px;
    background:#9097A9 url(../img/bg-select.gif);
    color:#fff;
}
div.table .select strong {
    float:left;
    padding:5px 0 0 5px;
}	
div.table .select select {
    float:right;
    width:78px;
    margin:2px 3px 0 0;
    text-align:right;	
}

/* right column header */
#right-column .h {
    float:left;
    background:#7E878A;
    border:1px solid #B8B8B8;
    border-bottom:0;
    padding:3px 10px;
    color:#fff;
    text-transform:uppercase;
}
/* right column box */
#right-column .box {
    float:left;
    width:121px;
    padding:5px;
    border:1px solid #B8B8B8;
    background:#EBEBEB;
    margin:0 0 15px 0;
}

/* right column buttons */
.buttons {
    clear:both;
    text-align:center;
    padding:30px 0 15px 0;
}
.buttons input {margin:0 0 6px 0;}

table, .logs_export {
    padding: 10px;
}

.warning_export {
    padding: 0 0 0 10px;
}

.logs_export {
    margin-top: 30px;
}