.msg_bleu {
	width:90%;
	margin:10px auto;
	border: 1px solid #0F607B;
	color: #0F607B;
	background:url(../img/msg_bleu.png) 10px  center no-repeat #E3ECEF;
	padding: 10px 10px 10px 48px;
}
.msg_jaune {
	width:90%;
	margin:10px auto;
	border: 1px solid #EF8704;
	color: #EF8704;
	background:url(../img/msg_jaune.png) 10px  center no-repeat #FAF0E1;
	padding: 10px 10px 10px 48px;
}
.msg_rouge {
	width:90%;
	margin:10px auto;
	border: 1px solid #C02C05;
	color: #C02C05;
	background:url(../img/msg_rouge.png) 10px  center no-repeat #F8E9E5;
	padding: 10px 10px 10px 48px;
}
.msg_vert {
	width:90%;
	margin:10px auto;
	border: 1px solid #486D08;
	color: #486D08;
	background:url(../img/msg_vert.png) 10px  center no-repeat #EAEEE2;
	padding: 10px 10px 10px 48px;
}

.pme-first, .pme-prev, .pme-add, .pme-view, .pme-change, .pme-copy,
.pme-delete, .pme-next, .pme-last, .pme-goto, .pme-save, .pme-more,
.pme-cancel, .pme-search, .pme-hide, .pme-clear, .pme-query{
    border: none;
    color: #4C4C50;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 3px;
    margin: 0px 2px;
    cursor: pointer;
}
.pme-add, .pme-delete, .pme-copy, .pme-change, .pme-view, .pme-more, .pme-save {
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	font-weight:bold;
}
.pme-add, .pme-save {
	background:#27ae60;
}
.pme-delete {
	background:#e74c3c;
}
.pme-copy, .pme-more {
	background:#1abc9c;
}
.pme-change {
	background:#2980b9;
}
.pme-view {
	background:#e67e22;
}
hr.pme-hr {
    margin: 10px 0px;
}
table.pme-main {
	border: #9C9C9C 1px solid;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}
table.pme-navigation {
	border: #9C9C9C 0px solid;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}
td.pme-navigation-0, td.pme-navigation-1 {
	white-space: nowrap;
}
th.pme-header {
    border: #FFFFFF 1px solid;
    padding: 4px;
    background: #5663A2;
    color: #fff;
}
tr.pme-sortinfo {
	background:#5663A2;
    color: #fff;
}
td.pme-key-0, td.pme-value-0, td.pme-help-0, td.pme-navigation-0, td.pme-cell-0,
td.pme-key-1, td.pme-value-1, td.pme-help-0, td.pme-navigation-1, td.pme-cell-1,
td.pme-sortinfo, td.pme-filter, td.pme-key-0-ColId, td.pme-key-1-ColId {
	border: #FFFFFF 1px solid;
	padding: 3px;
}
td.pme-buttons {
	text-align: left;
}
td.pme-message {
	text-align: center;
}
td.pme-stats {
	text-align: right;
}

.pme-row-1 td {
	background:#D8D8D8;
	border:1px solid #FFFFFF;
	padding-left:5px;
}
.pme-row-0 td {
	background:#ECECEC;
	border:1px solid #FFFFFF;
	padding-left:5px;
}
td.pme-navigation-0, td.pme-navigation-1 {
	width:35px;
}
td.pme-buttons {
text-align:center;
}

td.pme-sortinfo {
    text-align: center;
}
td.pme-key-0-ColId {
	width:35px;
}

table.nav-up td.pme-buttons {
	text-align:right;
}
th.pme-header-ColId {
	width:30px;
    background-color: #404A7B;
}