/* reset du framework */
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #606163;
    font-size: 0.9em;
}
#content {
    margin:0;
    padding:0;
}
img {
    padding: 0;
    margin: 0;
}
p, ul {
    padding: 0;
    margin:5px;
}
ul ul {
    margin: 0 0;
}
ul, ol { padding-left: 20px; }
ul ul, ol ol, ul ol, ol ul { padding-left: 15px; }
ul ul ul { padding-left: 15px; }
/* style web view */
div.entete {
    font-weight:normal;
    padding:3px 3px;
    font-size:1em;
    color: #000000;
    text-align:right;
    background:#FFFFFF url(fond_entete.png) bottom left repeat-x;
}
h1, h2, h3, h4 {
    font-size:1em;
    padding: 1px 0;
    margin: 5px 0;
}

h1{font-size:1.2em;background:#C41018;color:#FFFFFF;padding-left:5px;}
h2{background:#FFFFFF;color:#0E79AB;padding-left:5px;}

/* css des fiches IDE */

body.fiche-ide div.entete {
    font-weight:bold;
    padding:3px 3px;
    font-size:1.2em;
    color: #000000;
    text-align:left;
    background:#FFFFFF url(fond_entete.png) bottom left repeat-x;
}
body.fiche-ide span.red {
    font-weight:bold;
    color:red;
}
body.fiche-ide table.spip{
    border-collapse:collapse;
}
body.fiche-ide table.spip td{
    border:1px solid grey;
    text-align:center;
}
body.fiche-ide table.schema td{
    border:0px solid grey;
    vertical-align:top;
}

body.fiche-ide div.iframe {
    width:98%;
    margin:20px auto;
    border-top:1px solid #A2A2A2;
    border-bottom:1px solid #A2A2A2;
    overflow:auto;
    white-space:nowrap;
    padding:10px;
    -webkit-box-shadow: inset 0px 0px 10px 0px #c0c0c0;
}

body.fiche-ide div.iframe table.schema  {
    max-width:300%;
    white-space:normal;
}